name: Deploy JBDA a GitHub Pages

on:
  push:
    branches: ["main"] # O la rama que ocupes como principal

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout del código
        uses: actions/checkout@v4

      - name: Configurar GitHub Pages
        uses: actions/configure-pages@v4

      - name: Subir artefactos
        uses: actions/upload-pages-artifact@v3
        with:
          path: '.' # Sube todo el contenido de la raíz

      - name: Desplegar a GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
